{% extends 'BXD/base.html' %}
	{% block title %} Add Page {% endblock %}
	{% block body_block %}
	<div class="jumbotron">
		<div class="container">
			<h1>Bronx Digital is a collaborative Community of Bronx based Coders</h1>
			<p> This website aims to be the knowledge base for the Bronx Tech community, providing <a href="/BXD/resources/">resources</a> to help increase your skills, events to come together on, and more.</p> 
			<p>You have visited BXD {{ visits }} times</p>
		</div>
	</div>
{% endblock %}

	