<!DOCTYPE html>
{% load static %} 
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    	<link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
   		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
   		<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">


	</head>
	<header>
		<div class="head">
			<div class="logo_container">
				<img src="{% static "images/graffiti_dondi_small.png" %}">
			</div>
				<ul >
				 <li><a href="/rango/">BXD</a></li>
				 <li><a href="/rango/about/">About</a></li>
				 <li>BX Tech Roundtable</li>
				 <li><a href="http://meetup.com/thebronxdigitalmeetup" target="_blank">The Meetup</li>
				 <li><a href="/rango/resources/">Resources</a></li>
				 <li>Projects</li>
				 <li>Forum</li>
				 <li>Blog</li>
				</ul>
			</div>
			
			{% if user.is_authenticated %}
			<ul >
				<li><a href="/rango/logout/">Logout</a></li>
			</ul>
			{% else %}
				<a href="/rango/register/">Register Here</a>
				<a href="/rango/login/">Login</a>
			{% endif %}
	</header>
	<body>
		{% block body_block %}{% endblock %}

	<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
	<footer>
		<p>(C) 718Digital</p>
	</footer>
