<!DOCTYPE html>
{% load static %} 
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
	</head>
	<header>
		<div class="head">
			<div class="logo_container">
				<img src="{% static "images/graffiti_dondi_small.png" %}">
			</div>
			<div class="main_nav">
				<ul class="main_nav">
				 <li><a href="/rango/">BXD</a></li>
				 <li><a href="/rango/about/">About</a></li>
				 <li>BX Tech Roundtable</li>
				 <li><a href="/rango/events/" target="_blank">Events</li>
				 <li><a href="/rango/resources/">Resources</a></li>
				 <li>Projects</li>
				 <li>Forum</li>
				 <li>Blog</li>
				</ul>
			</div>
			
			{% if user.is_authenticated %}
			<div class="main_nav_log">
			<ul class="main_nav_log" >
				<li><a href="/rango/logout/">Logout</a></li>
			</ul>
			{% else %}
				<a href="/rango/register/">Register Here</a>
				<a href="/rango/login/">Login</a>
			{% endif %}
			</div>
	</header>
	<body>
		{% block body_block %}{% endblock %}

	</body>
	<footer>
		<p>(C) 718Digital</p>
	</footer>
