<!DOCTYPE html>
{% load static %} 
<html>
	<head>
		<title>BXD</title>

	</head>
	<header>
		<div class="head">
			<H1>Welcome to the Bronx Digital</H1>
			<div class="main_nav">
				<ul>
				 <li><a href="/rango/">BXD</a></li>
				 <li><a href="/rango/about/">About</a></li>
				 <li>BX Tech Roundtable</li>
				 <li>The Meetup</li>
				 <li>Resources</li>
				 <li>Projects</li>
				 <li>Forum</li>
				 <li>Blog</li>
				</ul>
			</div>
			<div class="logo_container">
				<img src="{% static "images/graffiti_dondi_small.png" %}">
			</div>
			Lets get started! <strong>Code Create Collaborate</strong><br />
		</div>
		<div>
			<p>Check out some Python Resources to get your feet wet</p>
			{% if categories %}
				<ul>
				{% for category in categories %}
					<li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no Categories Present</strong>
			{% endif %}	
		</div>
	</header>

</html>
