{% extends 'rango/base.html' %}
{% block title %} BXD {% endblock %}
{% block body_block %}

	<div class="container-fluid">
		<div class="jumbotron">
		<div class="row">
			{% if user.is_authenticated %}
				<h1> Hello, {{ user.username }}, Lets get started! <strong>Code Create Collaborate</strong><br /></h1>
			{% else %}
				<h1>Lets get started! <strong>Code Create Collaborate</strong><br /></h1> 
				<h2>Not a member? <a href="/rango/register/">Register today!</a></h2>
			{% endif %}
		</div>
		</div>
		
		<div class="row marketing">
			<div class="col-md-6">
			<h3>Check out some Resources to get your feet wet</h3>
			{% if categories %}
				<ul class="list-unstyled">
				{% for category in categories %}
					<li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no Categories Present</strong>
			{% endif %}	
			</div>
			<div class="col-md-6">
			<h3>Check out some tutorials</h3>
			{% if pages %}
				<ul class="list-unstyled">
				{% for page in pages %}
					<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endfor %}
				</ul>
			{% else %}
				<strong>There are no Pages Present</strong>
			{% endif %}	
			</div>
		</div>
	</div>

{% endblock %}			
