<!--Forum-->
<div id="list">
<table border="0", cellpadding ="4", width="100%">
	<tr>
		<td></td>
		<td>Posts</td>
		<td>Last Post</td>
		<td></td>
	</tr>

	{% for forum in forums %}
	<tr>
		<td {% if forloop.last %} class = "last"{% endif %}>
			<div class="title">
				<a href="{% url 'forums.views.forum' forum.pk %}">{{ forum.title }}</a>
			</div>
		</td>
		<td {% if forloop.last %} class ="last"{% endif %}>{{ forum.num_posts }}</td>
		<td{% if forloop.last %} class ="last"{% endif %}>
			{{ forum.last_post.short|linebreaksbr }}
		</td>
		<td {% if forloop.last %} class ="last"{% endif %}>
			<a href="{% url 'forums.views.forum' forum.pk %}">View</a>
		</td>
	</tr>
	{% endfor %}
</table>
</div>
